
h1.site-title, .site-header .site-branding p.site-title {
	font-size: 2.2rem;
    font-family: "Quattrocento Sans"; 
    font-weight: 700; 
    font-weight: 700
}

#container {
    /* background-color: "red" */
}