.body {
    background-color: #f3eee3;
}

h1.site-title,
.site-header .site-branding p.site-title {
    font-size: 2.4rem;
    font-family: "Inter";
    font-weight: 900;
}

.site-header {
    border-bottom: 0.0625rem solid #e5e5e5;
}

a.site-title {
    color: #333;
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 2% 8%;
}

#header {
    display: flex;
    flex-direction: row;
}

#titleDiv {
    flex: 3;
    background-color: "red";
}

nav#site-navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#top-right-nav {
    list-style-type: none;
    text-align: center;
    align-items: center;
}


.add-startup-button {
    background-color: #181D14;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 14px 50px;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    font-family: 'Inter', serif;
    font-weight: 500;
    text-decoration: none;
}

.add-startup-button:hover {
    background-color: #333;
    /* Darken the background color on hover if desired */
}

#landingDiv {
    margin: 2% 0 5% 0;
}

#landingTitle {
    font-size: 72px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 900;
    letter-spacing: -1.6px;
    line-height: 85.8px;
}

#subtitleDiv {
    margin: 0 10%;
    justify-content: center;
}

#landingSubtitle {
    font-size: 22.7px;
    font-family: 'Inter';
    font-weight: medium;
    text-align: center;
    color: #181D14;
}

#landingButtonDiv {
    display: flex;
    justify-content: center;
}

#landingButtonDiv a {
    margin: 2% 0;
    font-size: 20px;
    padding: 17px 50px;
}

.contentDiv {
    display: flex;
    margin: 5% 10%;
    flex-direction: column;
}

.contentTitle {
    font-size: 40px;
    font-family: 'Inter';
    font-weight: 900;
    color: #181D14;
}

#siteIntroText {
    font-size: 18px;
    font-family: 'Inter';
    font-weight: medium;
    color: #181D14;
}

#communityIntro {
    display: flex;
    flex-direction: row;
}

.contentImageDiv {
    margin-left: 10%;
}

.socialsDiv {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}


.fa-linkedin {
    background: #007bb5;
    color: white;
    margin-right: 3%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    transform: scale(1.05);
    background-color: #0056b3;
}

.fa-envelope {
    /* display: inline-block; */
    /* width: 60px; */
    /* height: 60px; */
    /* border-radius: 50%; */
    /* color: #fff; */
    /* text-align: center; */
    /* line-height: 60px; */
    /* font-size: 24px; */
    /* text-decoration: none; */
    color: #fff;
    background-color: #faeee3;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-right: 3%;
}

.fa-meetup {
    background: #e0393e;
    color: white;
    margin-right: 3%;
    transition: all 0.3s ease;
}
